::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background: #303030; 
}
::-webkit-scrollbar-thumb {
    background: #888888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555555; 
}
a:link {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
}      
a:visited {
    color: #eeeeff;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #000000;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: #ffffff;
    background-color: transparent;
    text-decoration: underline;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: none;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    top: 100%;
    position: absolute;
    z-index: 1;
}
.tooltip .tooltiptextleft {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    top: 100%;
    position: absolute;
    z-index: 1;
    right:105%;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.tooltip:hover .tooltiptextleft {
    visibility: visible;
}
.tooltip .tooltiptexttop {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    bottom: 100%;
    position: absolute;
    z-index: 1;
}
.tooltip .tooltiptextlefttop {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    bottom: 100%;
    position: absolute;
    z-index: 1;
    right:105%;
}
.tooltip:hover .tooltiptexttop {
    visibility: visible;
}
.tooltip:hover .tooltiptextlefttop {
    visibility: visible;
}